.Landing__Four .Menubar{
    border: none;
}

/* .Landing__Four .MenubarContent img {
    height: 50px;
} */

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
   Order Confram
--------------------------------------------------------------------------------------------------------------------------------------------------- */


.Landing__Four .OrderConfirmRight button{
    background: #FEC827;
    border: none;
}


.Landing__Four .OrderConfirmFrom{
    background-image: url('../../public/images/landing_4/yellowcombbg.png');
    background-color: #F8D663;
    padding-top: 50px;
}

.Landing__Four.ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}

.Landing__Four .ArrowBg {
    background: #FEC827 !important;
}
 
.Landing__Four .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #FEC827 ;
    border-radius: 5px;
    color:#FEC827 ;
}

.Landing__Four .OrderConfirmRight button{
    background: #FEC827;
    border: none;
    color: #ffffff;
}

.Landing__Four .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color:#FEC827;
}

