                /* ========================== Common Css========================= */
                /* ============================================================== */

                @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');




                .LandingSeventeen {
                    background: #FFFF88;
                    background-color:#FFFF88 ;
                    padding-top:18px;
                    font-family: 'Manrope', sans-serif;
                }
                
                .LandingSeventeen h1{
                    margin-top: 230px;
                    font-size: 40px;
                    line-height: 61px; 
                    color:#593A1B;
                }
            
                .LandingSeventeen h2{
                        font-size: 36px;
                        line-height: 53px;
                        color:#A15F19;
                        font-weight: 600;
                       
                }
            
                .LandingSeventeen h3{
                        font-size: 48px;
                        line-height: 74px;
                        color: #A15F19;
                        text-align: center;
                        font-weight: 600;
                }
            
                .LandingSeventeen h4{
                    font-size: 73px;
                    line-height: 123px;
                    color:#FFCB05;
                    font-weight: 900;
            
                }
                .LandingSeventeen h4 span{
                    font-size: 73px;
                    line-height: 123px;
                    color: #42210B;
                    font-weight: 900;
                }
            
                .LandingSeventeen p{
                    font-size: 24px;
                    line-height: 38px;
                    color: #42210B;
                }
            
            
            /* btn------------- */
            
            .LandingSeventeen a{
                    font-size: 36px;
                    color:#42210B;
                    font-weight: 700;
                    text-decoration: none; 
                    transition: .1s;
                  
                  
                }
                
                .LandingSeventeen a:hover{
                    background: #FE8D0E; 
                }
            
                .LandingSeventeen .Btnbg:hover{
                    background: #FE8D0E; 
                    padding: 28px 105px;  
                }
                
                
                .LandingSeventeen .Btnbg {
                    padding: 25px 100px;
                    background-color: #FFCB05;
                    border: none;
                    outline: none;
                    background: #FFCB05;
                    cursor: pointer;
                    position: relative;
                    z-index: 0;
                    border-radius: 10px;
                    border-radius: 50px;
                
                }
                
                .LandingSeventeen .Btnbg:before {
                    content: '';
                    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #ff00b3, #002bff, #7a00ff, #ff00c8, #ff0000);
                    position: absolute;
                    top: -2px;
                    left:-2px;
                    background-size: 400%;
                    z-index: -1;
                    filter: blur(5px);
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    animation: glowing 20s linear infinite;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;
                    border-radius: 10px;
                    border-radius: 50px;     
                    
                
                }
                
                .LandingSeventeen .Btnbg:active {
                    color: #000;
                 
                }
                
                .LandingSeventeen .Btnbg:active:after {
                    background: transparent;
                       
                }
                
                .LandingSeventeen .Btnbg:hover:before {
                    opacity: 1;
                }
                
                .LandingSeventeen.Btnbg:after {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    /* background: #111; */
                    left: 0;
                    top: 0;
                    border-radius: 10px;
                    
                    
                }
                
                @keyframes glowing {
                    0% { background-position: 0 0; }
                    50% { background-position: 400% 0; }
                    100% { background-position: 0 0; }
                }
            
            
            
            
                .section_gap{
                    padding-top: 100px;
                }
            
            /* ========================================================================================================================
                             Header Section
            =============================================================================================================================*/
            .ConPad{
                padding: 0;
            }
            
            .ImgRelBox{
                position: relative;
                width: 45%;
              
            }
            
            .ImgAbsTree{
                position: absolute;
                top:0;
                left:0;
                width: 100%;  
            }
            
            .HeaderTxtBox h5{
                padding-top: 15px;
                padding-bottom: 50px;
                font-size: 53px;
                line-height: 93px;
                font-weight: 700;
                color: #A15F19;
            }
            
            .HeaderTxtBoxRel{
                position: relative;
            }
            
            .HeaderTxtBox {
                /* position: absolute; */
                /* z-index: 2 !important; */
              
            }
            
            
            
            /* Col------- */
            
            .ImgDiv2 img{
                width: 100%;
                margin-top: 60px;
            }
            
            .ImgDiv2{
                position: relative;
            }
            
            .ImgDiv2Abs1{
                position: absolute;
                top:20%;
                left:-10%;
                padding: 15px 45px;
                font-size: 20px;
                line-height: 29px;
                background: #FDCF06;
                color: #FFFFFF;
                border-radius: 50px;
            }
            
            .ImgDiv2Abs2{
                position: absolute;
                bottom:40%;
                left: -10%;
                padding: 15px 45px;
                font-size: 20px;
                line-height: 29px;
                background: #FC9A0A;
                color: #FFFFFF;
                border-radius: 50px;
            }
            
            .ImgDiv2Abs3{
                position: absolute;
                top:40%;
                right: -10%;
                padding: 15px 45px;
                font-size: 20px;
                line-height: 29px;
                background: #BF8127;
                color: #FFFFFF;
                border-radius: 50px;
            }
            
            
            
            
            /* ========================================================================================================================
                           Slider One
            =============================================================================================================================*/
            .SecSlider{
                margin-top: 30px;
            }
            
            /* .SliderImg {
                height: 287px;
            } */
            
            .SliderImg img{
                width: 100%;
                height: 287px;
               
            }
            
            .SliderBtn{
                position: relative;
                z-index: 1;
            }
            
            .SliderBtn1{
                position: absolute;
                top:-160px;
                left:-20px;
                background-color: #FFCB05;
                border: none;
                outline: none;
                padding: 5px;
                border-radius: 50px;
            }
            .SliderBtn1 svg{
                font-size: 35px !important;
                color: #000;
            
            }
            
            .SliderBtn2 svg{
                font-size: 35px !important;
                color: #000;
            
            }
            .SliderBtn1 svg{
                font-size: 15px;
            
            }
            
            .SliderBtn2{
                position: absolute;
                top:-160px;
                right:-20px;;
                background-color: #FFCB05;
                border: none;
                outline: none;
                padding: 5px;
                border-radius: 50px;
            }
            
            .SliderTop_gap{
                margin-top: 60px;
            }
            
            .SliderTopTxt{
                text-align: center;
            }
            
            .SliderTopTxtAbsImg{
               margin-top: -70px;
                
            }
            .SliderTopTxtDev{
                position: relative;
            }
            
            .SliderBottomImg{
                width: 100%;
            }
            
            
            /* ========================================================================================================================
                           Pragrap Section
            =============================================================================================================================*/
            
            .ParagraphDiv h2{
                padding: 0 8%;
                text-align: center;
            }
            
            .ParagraphDivImg {
                text-align: center;
                margin-bottom: 35px;
            }
            
            .ParagraphCol2Img{
                width: 100%;
            }
            
            .ParagraphDivRow{
                display: flex;
               align-items: center;
            }
            
            
            /* ========================================================================================================================
                           Pragraph  Section --2
            =============================================================================================================================*/
            /* .Paragraph2Div h2{
                font-size: 36px;
                line-height: 53px;
                color:#A15F19;
                font-weight: 600;
            } */
            
            .Paragraph2Div li{
                display: flex;
                margin-bottom: 35px;
                
            }
            .ParagraphDivImg2{
                margin-bottom: 40px;
            }
            
            .Paragraph2Div ul li img{
                margin-right: 16px;
                margin-bottom: auto;
                margin-top: 10px;
            }
            
            /* ========================================================================================================================
                           Button-2 Section
            =============================================================================================================================*/
            .ContainerPad{
                padding: 0;
            }
            
            .btnBgdiv img{
                width: 100%;
                height: 662px;
            }
            .btnBgdiv{
                position: relative; 
                text-align: center;
                display: flex;
                align-items: center;
            
            }
            
            .btnBgdivAbs{
                width: 100%;
                position: absolute;
            }
            
            .btnBgdivAbs h6{
                font-size: 40px;
                line-height: 48px;
                color:#fff;
                font-weight: 600;
                
            }
            
            .btnBgdivAbs h5{
                font-size: 60px;
                line-height: 92px;
                color:#fff;
                margin-bottom: 40px;
                font-weight: 600;
                
            
            }
            
            /* ========================================================================================================================
                           Banner One
            =============================================================================================================================*/
            .SliderImg2 a {
                background: none !important;
            }
            
            /* .SliderImg2 {
                height: 505px;
            } */
            
            .SliderImg2 img{
                width: 100%;
                height: 500px;
            }
            
            .SliderBtnCopy1{
               top:-250px
            }
            .SliderBtnCopy2{
               top:-250px
            }
            
            
            /* ========================================================================================================================
                           Slider Pragraph
            =============================================================================================================================*/
            .SliderTopTxt h6{
                font-size: 32px;
                line-height: 49px;
                font-weight: 600;
                color:#593A1B;
            }
            
            .SliderTopTxt p{
                padding: 30px 5% 20px 5%;
            }
            
            
            /* ========================================================================================================================
                           Button-3 Section
            =============================================================================================================================*/
            .Button3Box{
                position: relative;
                text-align: center;
                padding-bottom: 200px;
            }
            
            .Button3BoxImgAbs1{
                position: absolute;
                top: -200px;
                left: 0%;
                width: 28%;
              
            }
            
            .Button3BoxImgAbs2{
                position: absolute;
                top: -80px;
                right: 0%;
                width: 32%;
            }
            
            .Button3Box h2{
               padding-top: 10px ;
               position: relative;
            }
            .Button3Box h5{
             margin-bottom: 50px !important;
             font-size: 60px;
             line-height: 92px;
             color:#42210B;
             font-weight: 600;
            }
            
            .Button3BoxImgAbs3{
                margin-top: -60px;
            }
            
            
            
            
            /* ========================================================================================================================
                        Order Section
            =============================================================================================================================*/
            .OrderBg{
               background-color: #E5E5E5;
               border-radius: 10px;
               padding: 20px 12px;
            
            }
            
            
            
            /* ========================================================================================================================
                        Footer
            =============================================================================================================================*/
            .Banner2Rel{
                position: relative;
            }
            
            
            .BannerMAbsImgAll{
                position: absolute;
                top:0;
                left:0;
                z-index: 15;
                width: 200px;
            }
            
            .BannerMAbsImgAll2{
                position: absolute;
                top:0;
                right:0;
                z-index: 15;
            }
            
            .BannerMAbsImgAll {
            
                animation: mymove 25s infinite alternate;
            
              }
              
              @keyframes mymove {
             
                0%   {top: 0px;}
                50% {left:300px}
                100% {top: -7100px;}
              }
            
            
            .BannerMAbsImgAll2 {
            
                animation: mymove2 25s infinite alternate;
              }
              
              @keyframes mymove2 {
             
                0%   {top: 0px;}
                50%  {right:300px}
                100% {top: -7100px; transform: rotate(180deg);}
            
              }
            
            
            
            
            .FooterSec{
                padding: 45px 0px 100px 0px;
                background-image:linear-gradient(to bottom, #FDCF06, #FC9A0A   );
            
            }
            
            .FooterBgTxtBox h4{
                font-size: 24px !important;
                line-height: 30px !important;
                color:#42210B;
                font-weight: 700;
                margin-bottom: 30px;
                margin-top: 60px;
            }
            .FooterBgTxtBox h5{
                font-size: 35px;
                line-height: 48px;
                color:#42210B;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .FooterBgTxtBox a{
                font-size: 18px !important;
                line-height: 30px;
                color:#42210B;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .FooterBgTxtBox li{
                margin-bottom: 10px;
                padding-left: 0;
            }
            
            .FooterBgTxtBox li svg{
              margin-right: 10px;
              font-size: 25px;
            }
            
            .FooterBgTxtBox ul {
            padding: 0;
            }
            
            .tinyFooter p a{
                display: inline;
                font-size: 24px;
                font-weight: 600;
                color: #42210B;
                padding: 0 5px;
              }
            
            .tinyFooter p {
                    line-height: 40px;
                    text-align: center;
              }
            
            .tinyFooter  {
                   margin-top: 50px;
              }
            
              /* .SliderTopTxtAbsImg {
                width: 100%;
            } */
            
            /* .ParagraphDivImg img{
               width: 100%;
            } */
            
            /* .ParagraphDivImg2 img{
                width: 100%;
            } */
            
            .Button3BoxImgAbs4{
                width: 100%;
            }
            
            /* .Button3BoxImgAbs3 {
                width: 100%;
            } */
            
            /* .SliderTopTxtAbsImg3{
                width: 100%;
            } */
            
            .SliderTopTxtAbsImg2{
                width: 50% !important;
            }
            
            /* Other */
            .LogoNone2{
                display: none;
            }
            
            .OrderBgh3{
                font-size: 28px !important;
                color:#212529 !important;
                font-weight: 400 !important;
            }
            
            
            
            
            
            /* ========================================================================================================================
                           Media Quary
            =============================================================================================================================*/
             
            
            @media (min-width: 1441px) {
            
            
            }
            
             @media (max-width: 1440px) {
            
                .LandingSeventeen h4 {
                    font-size: 60px;
                    line-height: 100px;
                }
            
                .LandingSeventeen h4 span{
                    font-size: 60px;
                    line-height: 100px;
                }
            
                .LandingSeventeen h3 {
                    font-size: 38px;
                }
                .SliderTopTxtAbsImg {
                    width: 85%;
                }
            
                .LandingSeventeen h2 {
                    font-size: 32px;
                }
            
                .SliderTopTxt h6 {
                    font-size: 30px;
                    line-height: 49px;
                    font-weight: 600;
                    color: #593A1B;
                }
            
                .LandingSeventeen h1 {
                    margin-top: 114px;
                    font-size: 36px;
                  
                }
            
                .LandingSeventeen .Btnbg {
                    padding: 23px 90px;
                    font-size: 30px;
                }
                .LandingSeventeen .Btnbg:hover {
                    padding: 26px 95px;
                    font-size: 30px;
                }
            
                .ImgDiv2Abs1, .ImgDiv2Abs2 {
                    padding: 10px 25px;
                    font-size: 16px;
                    left: -10%;
            
                }
                .ImgDiv2Abs3{
                    padding: 10px 25px;
                    font-size: 16px;
                    right: -10%;
                }
            
            
            
            }
            
            
            @media (max-width: 1280px) {
            
                .LandingSeventeen h1 {
                    margin-top: 59px;
                    font-size: 30px;
                    line-height: 51px;
                }
            
                .LandingSeventeen h4 {
                    font-size: 46px;
                    line-height: 90px;
                }
            
                .LandingSeventeen h4 span{
                    font-size: 46px;
                    line-height: 90px;
                }
            
                .HeaderTxtBox h5 {
                    padding-top: 0px;
                    padding-bottom: 50px;
                    font-size: 42px;
                }
            
                .LandingSeventeen .Btnbg {
                    padding: 23px 90px;
                    font-size: 30px;
                }
                .LandingSeventeen .Btnbg:hover {
                    padding: 26px 95px;
                    font-size: 30px;
                }
            
            
            
                .LandingSeventeen h3 {
                    font-size: 30px;
                }
            
                .LandingSeventeen h2 {
                    font-size: 24px;
                    line-height: 40px;
                }
            
                .LandingSeventeen p {
                    font-size: 18px;
                    line-height: 36px;
                }
            
                .Paragraph2Div li {
                    margin-bottom: 14px;
                }
            
                .btnBgdivAbs h6 {
                    font-size: 30px;
                    line-height: 44px;
                }
            
                .btnBgdivAbs h5 {
                    font-size: 48px;
                    line-height: 90px;
                }
            
                .SecSlider {
                    margin-top: 0px;
                }
                .SliderImg2 img {
                    width: 100%;
                    height: 420px;
                }
            
                .SliderTop_gap {
                    margin-top: 10px;
                }
            
                .SliderBtnCopy1{
                    top:-300px !important;
                }
                .SliderBtnCopy2{
                    top:-300px !important;
                }
            
                .Button3Box h5 {
                    font-size: 48px;
                    line-height: 70px;
                }
                .Button3Box {
                    padding-bottom: 120px;
                }
            
                .FooterBgTxtBox h5 {
                    font-size: 30px;
                    line-height: 48px;
                }
            
                .Button3BoxImgAbs1 {
                    top: -109px;
                }
            
            }
            
            @media (max-width: 991px) {
            
                .SliderBtn1 svg{
                    font-size: 25px !important;
                }
            
                 .SliderBtn2 svg{
                    font-size: 25px !important;
                }
            
                .ColumnReverce{
                    flex-direction: column-reverse;
                }
                .LogoNone{
                    display: none;
                }
                .LogoNone2{
                    display:block;
                    text-align: center;
                }
                .LogoNone2Div{
                    width: 100%;
                   display: flex;
                   justify-content: center;
                }
            
                .ImgAbsTree{
                    top: 29px;
                    left: 0;
                    width: 95%;
                }
                .ConPad{
                    text-align: center;
                }
            
                .LandingSeventeen h3 {
                    font-size: 28px;
                    line-height: 48px;
                }
                .LandingSeventeen h2 {
                    padding: 0px 0%;
                    text-align: center;
                    font-size: 20px;
                }
            
                .ParagraphDivImg img{
                    width: 90%;
                }
                .SliderImg img {
                    width: 100%;
                    height: 250px;
                }
            
            
                .SliderBtn2 {
                    top: -128px;
                }
                .SliderBtn1 {
                    top: -128px;
                }
            
                .LandingSeventeen p {
                    font-size: 16px;
                    line-height: 33px;
                } 
            
                .ParagraphDivImg2 img{
                    width: 90%;
                }
            
                .LandingSeventeen .Btnbg {
                    padding: 23px 80px;
                    font-size: 25px;
                }
                .LandingSeventeen .Btnbg:hover {
                    padding: 26px 85px ;
                    font-size: 27px ;
                }
            
                .section_gap{
                    padding-top: 70px;
                }
            
                .SecSlider {
                    margin-top: 41px;
                }
            
                .SliderImg2 img {
                    width: 100%;
                    height: 372px;
                }
            
                .SliderTopTxt img{
                    width: 90%;
                }
            
                .SliderBtnCopy2 {
                    top: -211px !important;
                }
                .SliderBtnCopy1 {
                    top: -211px !important;
                }
            
                .SliderTopTxt h6 {
                    font-size: 24px;
            
                }
            
                .btnBgdivAbs h5 {
                    font-size: 42px;
                    line-height: 77px;
                }
            
                .Button3Box h5 {
                    font-size: 42px;
                    line-height: 70px;
                }
            
                .Button3BoxImgAbs2 {
                    right: -4%;
                }
                .Button3BoxImgAbs1 {
                    left: -4%;
                }
            
                .Button3BoxImgAbs3 {
                    margin-top: -60px;
                    width: 64%;
                }
            
                .Button3Box {
                    padding-bottom: 91px;
                }
            
                .tinyFooter p a {
                    display: inline;
                    font-size: 16px;
                    font-weight: 600;
                    color: #42210B;
                    padding: 0 5px;
                }
            
            
            
            }
            
            
            @media (max-width: 768px) {
                .SliderBtn2{
                    top: -129px;
                }
                .SliderBtn1{
                    top: -129px;
                }
            
                .LandingSeventeen h1 {
                    margin-top: 59px;
                    font-size: 22px;
                    line-height: 38px;
                }
            
                .LandingSeventeen h4 {
                    font-size: 34px;
                    line-height: 70px;
                }
                .LandingSeventeen h4 span {
                    font-size: 34px;
                    line-height: 70px;
                }
            
                .HeaderTxtBox h5 {
                    font-size: 30px;
                    line-height: 60px;
            
                }
            
                .LandingSeventeen .Btnbg {
                    padding: 20px 67px;
                    font-size: 20px;
                }
                .LandingSeventeen .Btnbg:hover {
                    padding: 23px 73px;
                    font-size: 20px;
                }
            
                .LandingSeventeen h3 {
                    font-size: 22px;
                    line-height: 36px;
                }
                .SliderImg img {
                    width: 100%;
                    height: 218px;
                }
            
                .LandingSeventeen h2 {
                    font-size: 19px;
                    line-height: 32px;
                }
            
                .btnBgdivAbs h6 {
                    font-size: 22px;
                    line-height: 30px;
                }
            
                .btnBgdivAbs h5 {
                    font-size: 30px;
                    line-height: 52px;
                }
            
                .btnBgdiv img {
                    width: 100%;
                    height: 500px;
                }
            
                .SliderTopTxtAbsImg2{
                    width: 86% !important;
                }
            
                .SecSlider {
                    margin-top: 0px;
                }
                .SliderImg2 img {
                    width: 100%;
                    height: 280px;
                }
            
                .SliderBtnCopy2 {
                    top: -162px !important;
                }
            
                .SliderBtnCopy1 {
                    top: -162px !important;
                }
            
            
                .SliderTopTxt h6 {
                    font-size: 20px;
                    line-height: 32px;
                }
            
                .Button3Box h5 {
                    font-size: 30px;
                    line-height: 28px;
                }
            
                .Button3BoxImgAbs2 {
                    top: -11px;
                    right: -9%;
                    width: 32%;
                }
            
                .Button3BoxImgAbs1 {
                    top: -63px;
                    left: -12%;
                    width: 32%;
                }
            
                .section_gap{
                    padding-top: 50px;
                }
            
            /* fly--- */
            
                .BannerMAbsImgAll{
                    width: 120px !important;
                    z-index: 5;
                }
                
                .BannerMAbsImgAll2{
                    width: 60px;
                    right: 20px;
                    z-index: 5;
                }
            
                .Banner2imgAbs{
                    width: 222px;
                }
            
                @keyframes mymove {
             
                    0%   {top: 0px;}
                    100% {top: -7300px;}
                  }
                
                
             
                  @keyframes mymove2 {
                 
                    0%   {top: 0px;}
                    100% {top: -7300px; transform: rotate(180deg);}
                
                  }
            
                  .Banner2imgAbs2 {
                    width: 338px;
                }
            
            
            }
            
            
            @media (max-width: 575px) {
                .SliderBtn1{
                    display: none;
                }
                .SliderBtn2{
                    display: none;
                }
            
            
                .FooterSec{
                    text-align: center;
                }
            
                .ImgDiv2Abs1, .ImgDiv2Abs2 {
                    padding: 4px 15px;
                    font-size: 14px;
                    left: -5%;
            
                }
                .ImgDiv2Abs3{
                    padding: 4px 15px;
                    font-size: 14px;
                    right: -5%;
                }
            
                .OrderBgh3{
                    font-size: 22px !important;
                    color:#212529 !important;
                }
                
            
               
                }
                
            
                @media (max-width: 425px) {
            
                    .LandingSeventeen p {
                        font-size: 14px;
                        line-height: 28px;
                    }
            
                    .SliderImg2 img {
                        width: 100%;
                        height: 200px;
                    }
            
                    .LandingSeventeen h3 {
                        font-size: 19px;
                        line-height: 36px;
                    }
            
                    .LandingSeventeen h2 {
                        font-size: 18px;
                        line-height: 32px;
                    }
            
                    .SliderImg img {
                        width: 100%;
                        height: 158px;
                    }
            
                    .btnBgdiv img {
                        width: 100%;
                        height: 415px;
                    }
            
                    .LandingSeventeen h4 {
                        font-size: 28px;
                        line-height: 70px;
                    }
                    .LandingSeventeen h4 span {
                        font-size: 28px;
                        line-height: 70px;
                    }
            
                    .FooterBgTxtBox h4 {
                        font-size: 22px !important;
                        line-height: 28px !important;
                       
                    }
            
                    .ImgDiv2Abs1, .ImgDiv2Abs2 {
                        padding: 2px 10px;
                        font-size: 10px;
                        left: -5%;
                
                    }
                    .ImgDiv2Abs3{
                        padding: 2px 10px;
                        font-size: 10px;
                        right: -5%;
                    }
                
            
                    .SliderTopTxt p {
                        padding: 30px 0% 20px 0%;
                    }
            
            
                }
            
            
            
            /* ========================================================================================================================
                           Banner One
            =============================================================================================================================*/
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            