


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
   Order Confram
--------------------------------------------------------------------------------------------------------------------------------------------------- */


.Landing__Seventeen .OrderConfirmRight button{
    background: #FFCB05;
    border: none;
}


.Landing__Seventeen .OrderConfirmFrom{
    background-color: #FFFFFF;
    padding-top: 50px;
}

.Landing__Seventeen.ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}

.Landing__Seventeen .ArrowBg {
    background: #FFCB05 !important;
}
 
.Landing__Seventeen .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #FFCB05 ;
    border-radius: 5px;
    color:#FFCB05 ;
}

.Landing__Seventeen .OrderConfirmRight button{
    background: #FFCB05;
    border: none;
    color: #ffffff;
}

.Landing__Seventeen .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color:#FFCB05;
}


/* ================================================================================================================
            Swiper
===================================================================================================================*/



.swiper-button-prev {
    left: 10px;
    right: auto;
    padding: 10px 20px !important;
    background: #FFCB05;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
}

.swiper-button-next {
    left: 10px;
    right: auto;
    padding: 10px 20px !important;
    background: #FFCB05;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
}

.Landing__Seventeen .swiper-button-next:after{
    font-size: 14px !important;
    color: #42210B;
}

.Landing__Seventeen .swiper-button-prev:after {
    font-size: 14px !important;
    color: #42210B;
}


 .swiper-button-prev {
    left: 5px !important;
    left: auto;
}

 .swiper-button-next {
    right: 5px !important;
    right: auto;
}


.Landing__Seventeen .OrderConfirmFrom h3{

    font-size: 30px !important;

}









@media (max-width: 992px){

     .swiper-button-next {
        display: none !important;
    }

    .swiper-button-prev {
        display: none !important;
    }

    .Landing__Seventeen .OrderConfirmFrom h3{

        font-size: 22px !important;
    
    }

}