/* =================================================================================
Common
===================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


.Landing__18{

    --header : #FDDE9C;
    --bg1 : #ED1C22;
    --bg2 : #541401;
    --white : #FFF;

    font-family: 'Manrope', sans-serif !important;

}

.Landing__18 .container{
    max-width: 85%;
}

.Landing__18 ul{
    margin: 0;
    padding: 0;
}

.Landing__18 ul li{
    list-style-type: none;
}

.Landing__18 h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: var(--white);
}

.Landing__18 h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: var(--white);
}

.Landing__18 h3{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.Landing__18 :where(a, button){
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: var(--white);
    display: inline-block;
    transition: all linear .2s;
}

.Landing__18 :where(a.bg, button.bg){
    background: var(--bg1);
    padding: 20px 100px !important;
    border-radius: 20px 1px;
    border: 2px solid var(--white);
    margin-top: 30px !important;
}

.Landing__18 a:hover{
    color: var(--bg2);
}

.Landing__18 p{
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
    font-weight: 400;
    margin-top: 15px;
}

.Section_gaps{
    padding-top: 80px;
}

/* ===========================================================================================================
   Landing__18__Banner 
===============================================================================================================*/
.Landing__18__Banner img{
    width: 100%;
}

.Landing__18__Banner{
    position: relative;
}

.Landing__18__Banner .container{
    max-width: 70%;
}

.Landing__18__Banner__Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Landing__18__Banner__Img{
    width: 100%;
}

.Landing__18__Banner__Img img{
    height: 100px;
    width: auto;
}

.Landing__18__Banner__Text h1{
    padding: 60px 0;
}

.Landing__18__Banner__Text h3{
    position: relative;
    padding: 20px 100px;
    color: var(--header);
    font-size: 56px;
    line-height: 65px;
    z-index: 9;
    font-weight: 700;
    margin-bottom: 30px;
}

.Landing__18__Banner__Text h3::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: url('../../public/images/landing_18/banner-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.Landing__18__Banner__Right{
    margin-left: 30px;
}

.Landing__18__Banner__Right img{
    width: 100%;
}


/* ===========================================================================================================
   Landing__18__Delivay 
===============================================================================================================*/

.Landing__18__Delivay p{
    color: var(--bg2);
}

.Landing__18__Delivay .ShippingAddressItem img {
    width: 100px;
    height: 100px;
}


/* ===========================================================================================================
   Landing__18__Welcome 
===============================================================================================================*/
.Landing__18__Welcome {
    background: var(--bg2);
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.Landing__18__Welcome__bg{
    position: absolute;
    bottom: -150px;
    right: 0;
    z-index: 9;
}

.Landing__18__Welcome__Img {
    margin-bottom: -120px;
}

.Landing__18__Welcome__Img img{
    width: 100%;
}

.Landing__18__Welcome__Text{
    margin-left: 30px;
}

.Landing__18__Welcome__Text h2{
    color: var(--header);
}

.Landing__18__Welcome__Text h4{
    color: var(--white);
    margin-top: 20px;
}

.Landing__18__Welcome__Text ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: var(--header);
}




/* ===========================================================================================================
   Landing__18__WhyBuy 
===============================================================================================================*/
.Landing__18__WhyBuy{
    background: #FFF6E3;
    padding: 100px 0;
    padding-top: 200px;
    position: relative;
}

.Landing__18__whybuy__bg{
    position: absolute;
    bottom: -120px;
    left: 0;
    z-index: 9;
}

.Landing__18__WhyBuy h2{
    color: var(--bg2);
}

.Landing__18__WhyBuy__Content ul{
    margin-top: 50px !important;
}

.Landing__18__WhyBuy__Content ul li img{
    display: block;
    height: 35px;
    width: 35px;
    margin-right: 15px;
}

.Landing__18__WhyBuy__Content ul li{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--bg2);
    display: flex;
    align-items: flex-start;
}

.Landing__18__WhyBuy__Img{
    margin-left: 80px;
}

.Landing__18__WhyBuy__Img img{
    width: 100%;
}

.Landing__18__WhyBuy__Img .Order{
    background: var(--bg2);
    margin-top: -20px;
    padding: 30px;
    text-align: center;
}

.Landing__18__WhyBuy__Img .Order a:hover{
    color: var(--header);
}

/* ===========================================================================================================
    Landing__18__StartingPrice
===============================================================================================================*/

.Landing__18__StartingPrice{
    position: relative;
}


.Landing__18__StartingPrice .container{
    max-width: 70%;
}

.Landing__18__StartingPrice__bg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.Landing__18__StartingPrice__Img{
    position: relative;
}

.Landing__18__StartingPrice__Text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Landing__18__StartingPrice__Img img{
    width: 100%;
}

.Landing__18__StartingPrice__Slider{
    margin-top: 80px;
}

.Landing__18__Order__Content .OrderConfirmFrom .container {
    max-width: 100%;
}

.Landing__18__Order{
    background: var(--bg2);
}


/* ===========================================================================================================
    Landing__18__StartingPrice__Slider
===============================================================================================================*/
.Landing__18__Slider__Item{
    background: var(--white);
    box-shadow: 0px -145px 113.46px rgba(0, 0, 0, 0.03), 0px 91.9235px 66.4476px rgba(0, 0, 0, 0.0227778), 0px 54.6288px 36.1391px rgba(0, 0, 0, 0.0182222), 0px 28.365px 18.4372px rgba(0, 0, 0, 0.015), 0px 11.5561px 9.24488px rgba(0, 0, 0, 0.0117778);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.Landing__18__Slider__Text{
    margin-top: 20px;
}

.Landing__18__Slider__Item img{
    width: 100%;
}

.Landing__18__Slider__Text h4{
    color: var(--bg2);
    font-weight: 700;
}

.Landing__18__Slider__Text p{
    color: #888585;
}

.Landing__18__StartingPrice__Slider .swiper-slide {
    padding: 50px 10px;
}


/* ===========================================================================================================
    Landing__18__Feature
===============================================================================================================*/

.Landing__18__Feature{
    position: relative;
}

.Landing__18__Feature img{
    width: 100%;
}

.Landing__18__Feature__Content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Landing__18__Feature__Content img{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}

.Landing__18__Feature__Content h2{
    text-align: center;
    margin-bottom: 50px;
}

.Landing__18__Feature__Content li{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: #91685B;
    padding: 15px;
    border-radius: 0 5px;
    color: var(--white);
}

/* ===========================================================================================================
    Landing__18__Order
===============================================================================================================*/

.Landing__18__Order{
    position: relative;
}

.Landing__18__Order img{
    width: 100%;
}

.Landing__18__Order__Content .OrderConfirmFrom{
    margin-top: 50px;
}

.Landing__18__Order__Content :where(h3, h4, h5){
    color: var(--white) !important;
}

.Landing__18__Order__Content .OrderConfirmLeft .Payment h3{
    color: var(--bg2) !important;
}

.Landing__18__Order__Content .OrderConfirmRight button{
    background: var(--bg1);
    border: none;
}

.Landing__18__Order__Content .OrderConfirmRight button:hover{
    color: var(--bg2);
}

.Landing__18 .OrderConfirmLeft .Payment .ArrowBg {
    background: var(--bg1);
}

.Landing__18 .OrderConfirmLeft .Payment .ArrowBg p{
    color: var(--white);
}

.Landing__18 .OrderConfirmLeft .Payment .ArrowBg::after {
    border-bottom: solid 15px var(--bg1);
}

/* ===========================================================================================================
    Landing__18__Footer
===============================================================================================================*/

.Landing__18__Footer{
    position: relative;
}

.Landing__18__Footer .footer_bg{
    width: 100%;
}

.Landing__18__Footer__Content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.Landing__18__Footer__Content li{
    margin: 0 10px;
    margin-top: 30px;
    display: inline-block;
}

.Landing__18__Footer__Content li a{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}



/* Teniy Footer */

.Landing__18__Footer .tinyFooter p a{
    display: inline;
    font-size: 18px;
    font-weight: 600;
    color: var(--bg1)!important;
    padding: 0 5px;
  }

  .Landing__18__Footer .tinyFooter p {
        line-height: 0px;
        text-align: center;
        color: #FFF !important;
  }

  .Landing__18__Footer .tinyFooter  {
       margin-top: 30px;
  }




/* ===========================================================================================================
    
===============================================================================================================*/



/* ===========================================================================================================
    Media
===============================================================================================================*/
@media (max-width: 1700px) {

    .Landing__18 h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .Landing__18__Banner__Text h3 {
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .Landing__18__Banner__Text h1 {
        padding: 30px 0;
    }

    .Landing__18__Welcome {
        padding-top: 80px;
        height: 500px;
    }

    .Landing__18__Welcome__bg img{
        height: 300px;
    }

    .Landing__18 h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .Landing__18 p {
        font-size: 15px;
        line-height: 28px;
        margin-top: 10px;
    }

    .Landing__18__WhyBuy__Content ul li {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
    }

    .Landing__18__whybuy__bg {
        bottom: -80px;
    }

    .Landing__18__whybuy__bg img{
        height: 150px;
    }

    .Landing__18__Feature__Content li {
        margin-bottom: 20px;
    }

}




@media (max-width: 1339px) {

    .Landing__18 .container {
        max-width: 95%;
    }

    .Landing__18__Banner .container {
        max-width: 90%;
    }

    .Landing__18__Banner .banner_bg{
        height: 100vh;
        object-fit: cover;
    }

    .Landing__18 h1 {
        font-size: 32px;
        line-height: 45px;
        padding: 20px 0;
    }

    .Landing__18__Banner__Text h3 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .Landing__18__Banner__Right img {
        width: 85%;
    }

    .Landing__18 :where(a.bg, button.bg) {
        padding: 15px 80px !important;
        margin-top: 20px !important;
        font-size: 24px;
        line-height: 35px;
    }

    .Section_gaps {
        padding-top: 60px;
    }

    .Landing__18 h2 {
        font-size: 24px;
        line-height: 35px;
    }

    .Landing__18__Welcome__Text h4 {
        font-size: 18px;
    }

    .Landing__18__Welcome__bg img {
        height: 250px;
    }

    .Landing__18__Welcome__bg {
        bottom: -110px;
    }

    .Landing__18__WhyBuy {
        padding-top: 140px;
    }

    .Landing__18__WhyBuy__Content ul li img {
        height: 30px;
        width: 30px;
    }

    .Landing__18__WhyBuy__Content ul li {
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 28px;
    }

    .Landing__18 :where(a, button) {
        font-size: 26px;
        line-height: 35px;
    }

    .Landing__18__StartingPrice__bg img{
        height: 300px;
    }

    .Landing__18__StartingPrice .container {
        max-width: 70%;
    }

    .Landing__18__Slider__Item {
        padding: 15px;
    }

    .Landing__18__Slider__Text h4 {
        font-size: 18px;
    }

    .Landing__18__Slider__Text p{
        margin-top: 5px;
    }

    .Landing__18__StartingPrice__Slider .swiper-slide {
        padding: 30px 10px;
    }

    .Landing__18__Feature img {
        width: 100%;
        height: 1000px;
        object-fit: fill;
    }

    .Landing__18__Feature__Content img {
        height: 30px;
        width: 30px;
    }

    .Landing__18__Feature__Content li {
        margin-bottom: 2    0px;
        font-size: 16px;
        line-height: 28px;
        padding: 10px;
    }

    .Landing__18 h3 {
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
    }

    .OrderConfirmLeft .CustomeInput input {
        padding: 8px 20px;
        font-size: 14px;
    }

    .OrderConfirmRight ul li {
        padding: 15px 20px;
    }

    .Order_bg{
        display: none;
    }

    .Landing__18__Order {
        position: relative;
        padding: 60px;
        background: var(--bg2);
        height: 600px;
    }


}



@media (max-width: 1023px) {

    .Landing__18__Banner .col-lg-4{
        order: 1;
    }

    .Landing__18__Banner .col-lg-8{
        order: 2;
    }

    .Landing__18__Banner__Right img {
        width: 40%;
    }

    .Landing__18__Banner__Right {
        margin-left: 0;
        text-align: center;
    }

    .Landing__18__Banner__Img img {
        height: 80px;
        width: auto;
    }

    .Landing__18__Banner__Left{
        margin-top: 20px;
    }

    .Landing__18__Welcome__Img {
        margin-bottom: 30px;
    }

    .Landing__18__Welcome {
        padding: 80px 0;
        height: 1000px;
    }

    .Landing__18__WhyBuy .col-lg-6:first-child{
        order: 2;
    }

    .Landing__18__WhyBuy .col-lg-6:last-child{
        order: 1;
    }

    .Landing__18__WhyBuy__Img {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .Landing__18__StartingPrice__Img img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .Landing__18__Welcome__bg img {
        height: 200px;
    }

    .Landing__18__Welcome__bg {
        bottom: -80px;
    }

    .Landing__18__whybuy__bg img {
        height: 100px;
    }

    .Landing__18__whybuy__bg {
        bottom: -40px;
    }

    .Landing__18__StartingPrice__bg img {
        height: 200px;
    }

    .Landing__18__Feature img {
        object-fit: cover;
    }

    .Landing__18__StartingPrice .container {
        max-width: 80%;
    }

    .Landing__18 p {
        font-size: 14px;
        line-height: 24px;
    }

    .Landing__18__Order {
        padding: 50px 0;
        height: 1100px;
    }

}





@media (max-width: 500px) {

    .Landing__18__Banner__Img img {
        height: 60px;
        width: auto;
    }

    .Landing__18 h1 {
        font-size: 25px;
        line-height: 40px;
        padding: 20px 0;
        text-align: center;
    }

    .Landing__18__Banner__Text h3 {
        padding: 20px 35px;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .Landing__18__Banner__Text {
        text-align: center;
    }

    .Landing__18 :where(a, button) {
        font-size: 25px;
        line-height: 35px;
        padding: 15px 50px !important;
    }

    .Landing__18__Banner__Text h3::after {
        width: 100%;
    }

    .Landing__18__Banner .banner_bg {
        height: 80vh;
    }

    .Landing__18 :where(a.bg, button.bg) {
        margin-top: 10px !important;
    }

    .Landing__18__Welcome {
        height: 870px;
    }

    .Landing__18__Welcome__bg img {
        height: 150px;
    }

    .Landing__18__Welcome__bg {
        bottom: -50px;
    }

    .Landing__18__WhyBuy__Img {
        width: 100%;
        margin-bottom: 30px;
    }

    .Landing__18__WhyBuy__Img .Order {
        padding: 20px;
    }

    .Landing__18__whybuy__bg img {
        height: 80px;
    }

    .Landing__18__StartingPrice .container {
        max-width: 90%;
    }

    .Landing__18__Feature__Content h2 {
        margin-bottom: 30px;
    }

    .Landing__18__Feature img {
        height: 1200px;
    }

    .Landing__18__Feature__Content img {
        height: 30px;
        width: 30px;
    }

    .Landing__18__Feature__Content li {
        font-size: 14px;
        line-height: 24px;
    }

    .Landing__18__Order {
        padding: 30px 0;
        height: 1260px;
    }

    .Landing__18__Footer__Content li a {
        font-size: 14px;
        line-height: 24px;
        padding: 0 5px !important;
    }

    .Landing__18__Footer .footer_bg {
        height: 350px;
    }

    .Landing__18__Footer__Content img {
        height: 100px;
    }

}









