.Landing__Ten .Menubar{
    border: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
   Order Confram
--------------------------------------------------------------------------------------------------------------------------------------------------- */


.Landing__Ten .OrderConfirmRight button{
    background: #182D41;
    border: none;
}


.Landing__Ten .OrderConfirmFrom{
    background-color: #F5F5F5;
    padding-top: 50px;
}

.Landing__Ten.ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}

.Landing__Ten .ArrowBg {
    background: #182D41 !important;
}
 
.Landing__Ten .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #182D41 ;
    border-radius: 5px;
    color:#182D41 ;
}

.Landing__Ten .OrderConfirmRight button{
    background: #182D41;
    border: none;
    color: #ffffff;
}

.Landing__Ten .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color:#182D41;
}
