.Landing__Seven .Menubar{
    border: none;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
   Order Confram
--------------------------------------------------------------------------------------------------------------------------------------------------- */


.Landing__Seven .OrderConfirmRight button{
    background: #9FDA12;
    border: none;
}


.Landing__Seven .OrderConfirmFrom{
    background-color: #F5F5F5;
    padding-top: 50px;
}

.Landing__Seven.ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}

.Landing__Seven .ArrowBg {
    background: #9FDA12 !important;
}
 
.Landing__Seven .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #9FDA12 ;
    border-radius: 5px;
    color:#9FDA12 ;
}

.Landing__Seven .OrderConfirmRight button{
    background: #9FDA12;
    border: none;
    color: #ffffff;
}

.Landing__Seven .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color:#9FDA12;
}
