/* ------------------------------------------------------------------------------------------- 
Menubar
------------------------------------------------------------------------------------------- */
.MenubarContent .Logo{
    text-align: center;
}

.MenubarContent .LogoLeft{
    text-align: left;
}

.MenubarContent .Logo img{
    height: 80px;
    width: auto;
}

/* Media */
@media (max-width: 1023px) {

    .MenubarContent .Logo img{
        height: 60px;
    }
  
}


@media (max-width: 500px) {

    .MenubarContent .Logo img{
        height: 50px;
    }
  
}


/* ------------------------------------------------------------------------------------------- 
ShippingAddress
------------------------------------------------------------------------------------------- */

.ShippingAddressItem{
    text-align: center;
}

.ShippingAddressItem p{
    color: #FFF;
    margin-top: 10px;
}

.ShippingAddressItem img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}



/* ------------------------------------------------------------------------------------------- 

------------------------------------------------------------------------------------------- */




/* ------------------------------------------------------------------------------------------- 

------------------------------------------------------------------------------------------- */





/* ------------------------------------------------------------------------------------------- 

------------------------------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------------------- 

------------------------------------------------------------------------------------------- */







/* ------------------------------------------------------------------------------------------- 

------------------------------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------------------- 

------------------------------------------------------------------------------------------- */







/* ------------------------------------------------------------------------------------------- 

------------------------------------------------------------------------------------------- */