@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Noto Sans Bengali', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
/* font-family: 'Galada', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");

/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Noto Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap");

/* font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");




/* CSS Start */

* {
  margin: 0;
  padding: 0;
}

.container ul,
.container ol {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.container a {
  text-decoration: none;
}

.container a:hover {
  text-decoration: none;
}

.container a,
.container span,
.container p,
.container ul,
.container li,
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin: 0;
  padding: 0;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0;
  clear: both;
  color: #000000;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  box-shadow: none;
}

input,
textarea {
  border: 0;
  width: 100%;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  outline: unset;
}

/* .container {
    padding: 0 150px;
    max-width: 100%;
} */

.d_flex {
  display: flex;
  align-items: center;
}

.d_justify {
  justify-content: space-between;
}

.d_center {
  justify-content: center;
}

/* .container{
    max-width: 100%;
    padding: 0 200px;
} */

/* OrderConfirmFrom */

.OrderConfirmLeft {
  width: 90%;
}

.OrderConfirmLeft .CustomeInput {
  margin-top: 20px;
}

.OrderConfirmLeft .CustomeInput input {
  border: 1px solid #d1d5db;
  padding: 12px 20px;
  border-radius: 10px;
}

.OrderConfirmLeft .Payment {
  background: #fff;
  box-shadow: 0px -68px 80px rgb(0 0 0 / 3%), 0px 35px 46.8519px rgb(0 0 0 / 2%),
    0px -3px 25.4815px rgb(0 0 0 / 2%), 0px 20px 13px rgb(0 0 0 / 2%),
    0px 8.14815px 6.51852px rgb(0 0 0 / 1%),
    0px 1.85185px 3.14815px rgb(0 0 0 / 1%);
  border-radius: 15px;
  width: 300px;
  margin-top: 50px;
}

.OrderConfirmLeft .Payment h3 {
  padding: 30px;
  padding-bottom: 0;
}

.OrderConfirmLeft .Payment .CustomeInput {
  padding: 30px;
  padding-top: 0;
  padding-bottom: 15px;
}

.OrderConfirmLeft .Payment .CustomeInput input {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  margin-right: 10px;
}

.OrderConfirmLeft .Payment .CustomeInput label {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  font-style: italic;
}

.OrderConfirmLeft .Payment .CustomeInput input {
  position: absolute;
  opacity: 0;
}

.OrderConfirmLeft .Payment .CustomeInput input + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.OrderConfirmLeft .Payment .CustomeInput input + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #b8b8b8;
}

.OrderConfirmLeft .Payment .CustomeInput input:hover + label:before {
  background: #f35429;
}

.OrderConfirmLeft .Payment .CustomeInput input:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.OrderConfirmLeft .Payment .CustomeInput input:checked + label:before {
  background: #f35429;
}

.OrderConfirmLeft .Payment .CustomeInput input:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.OrderConfirmLeft .Payment .CustomeInput input:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.OrderConfirmLeft .Payment .CustomeInput input:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 13px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.OrderConfirmLeft .Payment .ArrowBg {
  background: #fceef1;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 10px 30px;
}

.OrderConfirmLeft .Payment .ArrowBg::after {
  position: absolute;
  content: "";
  top: -15px;
  left: 20%;
  width: 30px;
  height: 15px;
  border-bottom: solid 15px #fceef1;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.OrderConfirmLeft .Payment .ArrowBg p {
  margin: 0;
  padding: 0;
  color: #000000;
}

/* OrderConfirmRight */
.OrderConfirmRight ul {
  margin-top: 30px !important;
  border-radius: 15px;
  border: 1px solid #d1d5db;
}

.OrderConfirmRight ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #d1d5db;
}

.OrderConfirmRight ul li:last-child {
  border-bottom: 0;
}

.OrderConfirmRight ul h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
}

.OrderConfirmRight ul h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #332729;
}

.OrderConfirmRight ul .img {
  width: 80px;
}

.OrderConfirmRight ul .img img {
  width: 100%;
  border-radius: 10px;
}

.OrderConfirmRight ul .left {
  width: 50%;
}

.OrderConfirmRight ul .left p {
  font-size: 14px;
  line-height: 20px;
  margin-left: 15px;
  margin-top: 0;
}

.OrderConfirmRight ul .right {
  width: 45%;
  justify-content: space-between;
}

.OrderConfirmRight ul .right input {
  width: 80px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}

.OrderConfirmRight button {
  width: 100%;
  background: var(--bg_color2);
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
}

.OrderConfirmRight button svg {
  font-size: 25px;
  margin-right: 10px;
}

/* LandingThree */
.LandingThree .OrderConfirmFrom {
  background: #fff5cd;
  padding: 80px 0;
}

.LandingThree .OrderConfirmFrom h3 {
  text-align: left;
}

.LandingThree .OrderConfirmFrom button {
  background: #fecb02;
}

.LandingThree .OrderConfirmFrom button:hover {
  background: #092e67;
  color: #fff;
}

.LandingThree .OrderConfirmLeft .Payment .ArrowBg{
  background: #092e67;
}
.LandingThree .OrderConfirmLeft .Payment .ArrowBg::after{
  border-bottom: solid 15px #092e67;
}

.LandingThree .OrderConfirmLeft .Payment .ArrowBg p{
  color: #fff;
}
 /* LandingSix */
.LandingSix .OrderConfirmFrom button {
  border: 1px solid #e81e28;
}

.LandingSix .OrderConfirmFrom button:hover {
  background: #ffffff;
  color: #e81e28;
  border: 1px solid #e81e28;
}

.LandingSix .OrderConfirmLeft .Payment .ArrowBg{
  background: #e81e28;
}
.LandingSix .OrderConfirmLeft .Payment .ArrowBg::after{
  border-bottom: solid 15px #e81e28;
}

.LandingSix .OrderConfirmLeft .Payment .ArrowBg p{
  color: #fff;
}


/* LandingEIGHT */
.LandingEight .OrderConfirmFrom button:hover {
  background: #2e514a;
  color: #fff;
}

/* LandingFour */

.LandingFour .OrderConfirmFrom {
  background: #071c1f;
  padding: 80px 0;
}

.LandingFour .OrderConfirmFrom h3 {
  color: var(--white_color);
}

.LandingFour .OrderConfirmLeft .Payment h3 {
  color: var(--header_color);
}

.LandingFour .OrderConfirmRight ul h4,
.LandingFour .OrderConfirmRight p,
.LandingFour .OrderConfirmRight ul h5 {
  color: var(--white_color);
}

.OrderConfirmRight ul .left p {
  font-size: 14px;
  line-height: 20px;
  margin-left: 15px;
  margin-top: 0;
}


/* Landing Nine Muktadir*/

.LandingNine .OrderConfirmFrom {
  background: url(../public/images/landing_9/bgHexa.png);
  background-color: #F8D663;
  padding: 80px 0;
}

.LandingNine .OrderConfirmFrom h3 {
  color: #0D0F22;
  text-align: left;
}

.LandingNine .OrderConfirmLeft .Payment h3 {
  color: #0D0F22;

}

.LandingNine .OrderConfirmFrom button {
  border: 1px solid #663807;
  background: #663807;
}

.LandingNine .OrderConfirmFrom button:hover {
  background: #ffffff;
  color: #663807;
  border: 1px solid #663807;
}

.LandingNine .OrderConfirmRight ul h4,
.LandingNine .OrderConfirmRight p,
.LandingNine .OrderConfirmRight ul h5 {
  color: #0D0F22;;
}

.LandingNine .OrderConfirmLeft .Payment .ArrowBg{
  background: #663807;
}
.LandingNine .OrderConfirmLeft .Payment .ArrowBg::after{
  border-bottom: solid 15px #663807;
}

.LandingNine .OrderConfirmLeft .Payment .ArrowBg p{
  color: #fff;
}

.LandingNine .OrderConfirmLeft .CustomeInput input {
  border: 1px solid #663807;
}

.LandingNine .OrderConfirmRight ul {
  border: 1px solid #663807;
}
.LandingNine .OrderConfirmRight ul li {
  border-bottom: 1px solid #663807;
}
.LandingNine .OrderConfirmRight ul li:last-child {
  border-bottom: 0;
}


/* Landing Eleven Muktadir*/

.LandingEleven .OrderConfirmFrom {
  background: #FFF9E7;
  padding: 80px 0;
}

.LandingEleven .OrderConfirmFrom h3 {
  color: #0D0F22;
  text-align: left;
}

.LandingEleven .OrderConfirmLeft .Payment h3 {
  color: #0D0F22;

}

.LandingEleven .OrderConfirmFrom button {
  border: 1px solid #756BEE;
  background: #756BEE;
}

.LandingEleven .OrderConfirmFrom button:hover {
  background: #ffffff;
  color: #756BEE;
  border: 1px solid #756BEE;
}

.LandingEleven .OrderConfirmRight ul h4,
.LandingEleven .OrderConfirmRight p,
.LandingEleven .OrderConfirmRight ul h5 {
  color: #0D0F22;;
}

.LandingEleven .OrderConfirmLeft .Payment .ArrowBg{
  background: #756BEE;
}
.LandingEleven .OrderConfirmLeft .Payment .ArrowBg::after{
  border-bottom: solid 15px #756BEE;
}

.LandingEleven .OrderConfirmLeft .Payment .ArrowBg p{
  color: #fff;
}

.LandingEleven .OrderConfirmLeft .CustomeInput input {
  border: 1px solid #F8CD53;
}

.LandingEleven .OrderConfirmRight ul {
  border: 1px solid #F8CD53;
}
.LandingEleven .OrderConfirmRight ul li {
  border-bottom: 1px solid #F8CD53;
}
.LandingEleven .OrderConfirmRight ul li:last-child {
  border-bottom: 0;
}

/* Ibrahim ------------------------------------------------------------------------*/
.twelve .OrderConfirmFrom{
    background-color: #FFEECE;
    /* margin-top: 100px; */
    padding-top: 50px;
}
.twelve .ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}
.twelve .ArrowBg {
    background: #FFBF0B !important;
}

.twelve .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #FFBF0B;
    border-radius: 5px;
    color:#FFBF0B ;
}

.twelve .OrderConfirmRight button{
    background: #FFBF0B;
    border: none;
    color: #000000;
}

.twelve .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color: #FFBF0B;
}

/* seven */
.seven .OrderConfirmFrom{
    background-color: #ffffff;
}
.seven .ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}
.seven .ArrowBg {
    background: #9FDA12!important;
}

.seven .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #9FDA12;
    border-radius: 5px;
    color:#9FDA12 ;
}

.seven .OrderConfirmRight button{
    background: #9FDA12;
    border: none;
    color: #000000;
}

.seven .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color: #9FDA12;
}

/* LandingThirteen */
.LandingThirteen .OrderConfirmFrom {
  background: #fff;
  padding: 80px 0;
}

/* ten */

.LandingThirteen .OrderConfirmFrom button {
  background: #93CA41;
  border: 1px solid #93CA41;
}

.ten .OrderConfirmFrom{
    background-color: #53C890;
    padding-top: 50px;

}
.ten .ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}
.ten .ArrowBg {
    background: #182D41 !important;
}

.ten .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #182D41;
    border-radius: 5px;
    color:#182D41 ;
}

.ten .OrderConfirmRight button{
    background: #182D41;
    border: none;
    color: #ffffff;
}

.ten .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color: #182D41;
}

/* five */

.five .OrderConfirmFrom{
    background-color: #F5F5F5;
    padding-top: 50px;
}
.five .ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}
.five .ArrowBg {
    background: #6001D3 !important;
}

.five .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #6001D3;
    border-radius: 5px;
    color:#6001D3 ;
}

.five .OrderConfirmRight button{
    background: #6001D3;
    border: none;
    color: #ffffff;
}

.five .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color: #6001D3;
}

.LandingThirteen .OrderConfirmLeft .Payment .ArrowBg{
  background: #93CA41;
}
.LandingThirteen .OrderConfirmLeft .Payment .ArrowBg::after{
  border-bottom: solid 15px #93CA41;
}

.LandingThirteen .OrderConfirmLeft .Payment .ArrowBg p{
  color: #fff;
}
