
.Landing__Nine .Menubar{
    border: none;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
   Order Confram
--------------------------------------------------------------------------------------------------------------------------------------------------- */


.Landing__Nine .OrderConfirmRight button{
    background: #663807;
    border: none;
}


.Landing__Nine .OrderConfirmFrom{
    background-color: #F5F5F5;
    padding-top: 50px;
}

.Landing__Nine.ArrowBg p{
    color: #FFFFFF !important;
    font-size: 14px;
    padding-left: 24px !important;
    font-weight: 400 ;
}

.Landing__Nine .ArrowBg {
    background: #663807 !important;
}
 
.Landing__Nine .OrderConfirmLeft .Payment .CustomeInput input + label:before {
    content: '';
    background: #663807 ;
    border-radius: 5px;
    color:#663807 ;
}

.Landing__Nine .OrderConfirmRight button{
    background: #663807;
    border: none;
    color: #ffffff;
}

.Landing__Nine .OrderConfirmLeft .Payment .ArrowBg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    color:#663807;
}
